<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table>
            {% for x in range(0,x) %}
            <tr>
                {% for y in range (0,y)%}
                {% if y%2==0 %}
                <td class="a" style="background: {{color1}};"></td>
                {%else%}
                <td class="b" style="background: {{color2}};"></td>
                {%endif%}
                {%endfor%}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>