.container{
    width:1200px;
    min-height: 400px;
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
}

table{
    margin:0 auto;
}
td.a{
    width:100px;
    height:100px;
    background-color:green;

}
td.b{
    width:100px;
    height:100px;
    background-color:black;


}